.header {
    height: 60px;
    background-image: linear-gradient(0,#e97933, #f76b2f);
    position: relative;
    
}   
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 8px;
}
.header__navbar-items {
    display: inline-block ;
    padding-right: 10px;
    color: var(--white-color);
    position: relative;
    user-select: none;
}
.header__navbar-items--open-bar:hover .header__bar{
    display: block;
}

.header__navbar-items--open-bar:hover .header__caret{
    display: block;
}
.header__navbar-items--open-bar:hover .header__notify{
    display: block;
}
.header__navbar-items--open-bar:hover .header__grip{
    display: block;
}
.header__navbar-items-icon {
    color: var(--white-color);

}
.header__navbar-icon:hover {
    color: rgba(255, 255, 255, 0.7);
}

 /* cục bar */
.header__bar {
    position: absolute;
    top: 110%;
    width: 170px;
    font-size: 13px;
    background-color: #e6dfdf ;
    border: 10px ;
    transform-origin: calc(5px) top ;
    animation: headerBarGrowth ease-in 0.25s;
    display: none;
}

.header__bar::before {
    content: "";
    border: 7px solid;
    border-color: transparent transparent #e6dfdf transparent ;
    position: absolute;
    left: 1px;
    top: -12px
}




@keyframes headerBarGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
} 


.header__bar-list {

    padding-left: 0px;
 
}
.header__bar-items  {   
    list-style: none;
    color: var(#a8a4a4);
    padding-right: 0px;
    
    
}
.header__bar-items:hover {
    background-color: #f39d9d;
}

.header__bar-lk {
    display: flex;
    text-decoration: none;
    width: 100%;
    padding: 8px 3px;

}
.header__bar-bar {
    list-style: none;
}
.header__bar-link {
    padding-left: 10px;

    color: #a8a4a4;
    text-decoration: none;
}

/* thanh caretdown */
.header__caret {
    position: absolute;
    margin-left: -2px;
    top: 110%;
    width: 110px;
    font-size: 13px;
    background-color: #e6dfdf;
    border: 1px;
    transform-origin: calc(5px) top ;
    animation: headerBarGrowth ease-in 0.25s;
    display: none;
}


.header__caret::before {
    content: "";
    border: 6px solid;
    border-color: transparent transparent #e6dfdf transparent ;
    position: absolute;
    left: 0.6px;
    top: -11.6px
}

@keyframes headerBarGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
} 

.header__caret-list{
    padding: 0px;
    list-style: none;
    
    
}
.header__caret-items {
    text-decoration: none;
}

.header__caret-items:hover {
    background-color: #f39d9d;
}
.header__caret-lk{
    text-decoration: none;
    
}
.header__caret-down{
    padding: 2px 5px ;
    color: #a8a4a4;
    text-decoration: none;
}
/* notify  */
.header__notify{
    position: absolute;
    top: 110%;
    width: 230px;
    margin-left: -213px;
    font-size: 13px;
    background-color: #e6dfdf ;
    border: 10px ;
    transform-origin: right top ;
    animation: headerBarGrowth ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border: 6px solid;
    border-color: transparent transparent #e6dfdf transparent ;
    position: absolute;
    right: 3.7px;
    top: -12px
}

@keyframes headerBarGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
} 

.header__notify-list{
    display: block;
    padding: 0px;
    text-decoration: none   ;
}
.header__notify-head{
    color: #a8a4a4;
    margin: 0 0 0 10px;
}
.header__notify-items{
    padding: 0px;
    list-style: none;
    
}
.header__notify-items:hover {
    background-color: #f39d9d;
}

.header__notify-items--readed {
    background-color: #f18a49;
}

.header__notify-lk{
    text-decoration: none;
    
}
.header__notify-box{
    padding: 5px 10px ;
}
.header__notify-name{
    
    text-decoration: none;
    color: #a8a4a4;
}
.header__notify-footer{
    text-align: center;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: #a8a4a4;
    padding:2px 83px ;
}
/* phần grip */
.header__grip{
    position: absolute;
    top: 110%;
    width: 170px;
    margin-left: -153px;
    font-size: 13px;
    background-color: #e6dfdf ;
    border: 10px ;
    transform-origin: right top ;
    animation: headerBarGrowth ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
}

.header__grip::before {
    content: "";
    border: 6px solid;
    border-color: transparent transparent #e6dfdf transparent ;
    position: absolute;
    right: 3.7px;
    top: -12px
}

@keyframes headerBarGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
} 

.header__grip-list{
    padding: 0px;
}
.header__grip-items{
   
    list-style: none;
}
.header__grip-items:hover {
    background-color: #f39d9d;
}

.header__grip-lk{
    
    text-decoration: none;
}
.header__grip-box{
    margin-left: 45px;
}
.header__grip-name{

    color: #a8a4a4;
}
/* container (phần nội dung)  */
.category{
    margin-left: 23px;
}
.category-list{
    margin-top: 30px;
}
.category-item{
    list-style: none;
    display: inline-block;
}


.category-item--img{
    height: 200px;
    width: 380px;
    display: inline-block;
}



